<nav>
    <button type="button" class="btn btn-secondary rounded" [routerLink]="['']" routerLinkActive="active" >Return</button>
</nav>

<div class="detail-card" 
*ngIf="card$ | async as card">
    <div class="top">
        <img [src]="card.card_images[0].image_url" />
    </div>
    <div class="bottom">
        <h2>{{card.name}}</h2>
        <div class="item">
            <p class="description">{{card.desc}}</p>
        </div>
        <div class="item">
            <h3 class="title">Type</h3>
            <p class="description">{{card.type}}</p>
        </div>
        <div class="item" *ngIf="card.archetype !== undefined">
            <h3 class="title">Archetype</h3>
            <p class="description">{{card.archetype}}</p>
        </div>
        <div class="item">
            <h3 class="title">Race</h3>
            <p class="description">{{card.race}}</p>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Market</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- keyvalue serves the purpose of make an object iterable, in this case: card.card_prices[0], wich turns to be an object of prices -->
            <tr *ngFor="let market of card.card_prices[0] | keyvalue">
                <td scope="row">{{market.key | marketName}}</td>
                <td>{{market.value}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>