
<div class="detail-card">
    <div class="top">
        <img src="https://images.ygoprodeck.com/images/cards/15480588.jpg" />
    </div>
    <div class="bottom">
        <h2>Nombre de la carta</h2>
        <div class="item">
            <p class="description">Descripción</p>
        </div>
        <div class="item">
            <h3 class="title">Título</h3>
            <p class="description">Descripción</p>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Market</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Market</td>
                <td>Price</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>